* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

span {
  font-weight: bold;
}

.top {
  min-height: 1024px;
  background-image: url(img/topbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__content {
  padding-top: 217px;
}
.top__content_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: white;
  padding-bottom: 32px;
}
.top__content_caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: white;
  padding-bottom: 44px;
  width: 480px;
}
.top__form_button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.top__form_button:hover {
  cursor: pointer;
}

.options {
  background-color: #000915;
  min-height: 556px;
}
.options__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.options__item {
  position: relative;
  min-width: 379px;
  height: 300px;
}
.options__item:hover {
  outline: 3px solid #44D2FF;
  border-radius: 17px;
}
.options__item_img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
}
.options__item_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: white;
  position: absolute;
  left: 32px;
  bottom: 32px;
}

.first-game {
  min-height: 800px;
  background-color: #000915;
}
.first-game__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 233px;
}
.first-game__description {
  max-width: 584px;
}
.first-game__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.first-game__caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 835px;
    background-image: url(img/topbgphone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .top__content {
    padding-top: 238px;
    width: 343px;
  }
  .top__content_title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__content_caption {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    max-width: 343px;
    text-align: center;
  }
  .top__form {
    display: flex;
    justify-content: center;
  }
  .options__item {
    min-width: 343px;
  }
  .first-game__content {
    padding-top: 51px;
    justify-content: center;
  }
  .first-game__description {
    text-align: center;
  }
  .first-game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .first-game__title_symbol {
    display: none;
  }
  .first-game__caption {
    font-size: 14px;
    line-height: 22px;
    width: 343px;
  }
  .first-game__img-block {
    padding-top: 64px;
  }
  .first-game__img-block_img {
    width: 343px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */